
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Roboto:wght@400;900&display=swap');

/* 
1rem = 16px
2rem = 32px
3rem = 48px
*/

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #eaecef
}

header {
  padding: 1rem 2rem;
  background-color: #011627;
  display:flex;
  justify-content: space-between;
  color:#eaECEF !important;
}

header svg {
  font-size: 40px ;
}

nav {
  width: 150px;
  background-color: #011627;
  position: absolute;
  height: 95dvh;
  padding: 0 2rem;
  left: -100%;
  transition: all .5s; /* Velocidade de animacao da sidebar*/
  z-index:100;
}
nav.active {
  left: 0;
}

.logo {
  width: 60px;
}

ul {
 padding: 0; 
 margin-top: 2rem;
}
ul li {
  list-style-type: none;
}


li svg {
  padding: 0 .25rem;
}


ul li a {
  color: #eaecef ;
  font-size: 16px;
  display: block;
  padding: 1rem 0;
  border-radius: 5px;
  transition: .25s ease;
  text-decoration: none;
  display: inline-flex;

}
 a svg {
  font-size: 25px;
 }

ul li a:hover, ul li a.active {
  background-color: #172b4d;
}


.main {
  overflow: auto;
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center;
  color: #000;
}

.container {
  display:flex;
  flex-direction: column;
  justify-content: start;
  width:90%;
}

h1 {
  margin-bottom: 9rem;
  font-size:40px;
}